<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="10 seconds">
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" />

    <!--定义日志文件的存储地址和前缀名-->
    <property name="LOCAL_FILE_PATH" value="/export/Logs/springboot/${APP_NAME}" />
    <property name="LOG_PREFIX" value="${APP_NAME}"/>
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 本地环境-->
    <springProfile name="local">

        <logger name="org.springframework.web" level="debug"/>
        <logger name="com.xm.springboot.dao" level="debug"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <property name="MIN_LEVEL" value="INFO" />

        <appender name="MAIN-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${LOCAL_FILE_PATH}/${LOG_PREFIX}-main.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${LOCAL_FILE_PATH}/bak/${LOG_PREFIX}-main.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <maxFileSize>5MB</maxFileSize>
                <MaxHistory>7</MaxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>${MIN_LEVEL}</level>
            </filter>
        </appender>

        <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${LOCAL_FILE_PATH}/${LOG_PREFIX}-error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${LOCAL_FILE_PATH}/bak/${LOG_PREFIX}-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <maxFileSize>5MB</maxFileSize>
                <MaxHistory>7</MaxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <!-- 日志输出级别   这样设置不打印日志 -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="MAIN-FILE"/>
            <appender-ref ref="ERROR-FILE"/>
        </root>
    </springProfile>

</configuration>